@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_UnwrappedLayout.cshtml";
}
<div id="home" class="flex-container">
    <div id="homeText" class="page-wrapper">
        <h2>MakeupStory</h2>
        <span class="quote">Your makeup tells a story  <i class="fas fa-heart heart"></i></span>
        <br />
        <br />
        With MakeupStory, easily keep track of your brands and makeup.
        <br />
        Know what makeup you have, when you opened it, and when/if your makeup has expired.
    </div>
</div>